---
layout: archive
permalink: /categories/sci-tech/
title: "Khoa học và Công nghệ"
header:
  overlay_image: images/sci-tech-1.jpeg
  overlay_filter: 0.5
excerpt: Những ý tưởng và những phát minh. <br><br>
author_profile: true
---
{% capture written_year %}'None'{% endcapture %}
{% for post in site.categories.sci-tech %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
