---
layout: archive
permalink: /categories/theory/
title: "Toán lý thuyết"
header:
  overlay_image: images/theory-1.jpg
  overlay_filter: 0.5
excerpt: Những quy luật của tự nhiên ẩn mình dưới những phương trình. <br><br>
author_profile: true
---
{% capture written_year %}'None'{% endcapture %}
{% for post in site.categories.theory %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
